.list{
   &__item{
    margin-top: 20px;
    padding: 10px;
    background-color: $colorWhite;
    border-radius: 30px;

    @include mq(){
      margin-top: 10px;
    }

    &:first-child{
      margin-top: 40px;

      @include mq(){
        margin-top: 20px;
      }
    }
   }
}