.signOut{
  &__btn{
    padding: 5px 20px;
    background-color: $colorWhite;
    border: solid $colorLightGray 1.5px;
    border-radius: 10px;

    @include mq(){
      padding: 5px 10px;
      font-size: 8px;
    }

    &:hover{
      background-color: $colorLightGray;
      border: solid $colorWhite 2px;
    }
  }
}